# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
*.egg-info/
.pytest_cache/

# Calculated outputs
output/
data/_pipeline_cache/

profiles/*/analysis-*.xlsx
profiles/*/report-*.md

# vscode
.vscode

# Excel lock files
~$*.xlsx

# Sphinx build output
docs/_build/

# OS
.DS_Store
Thumbs.db
